.careers__openings{
    max-width: 1600px;
    margin: auto;
    margin-bottom: 7.5rem; 


    & .container{
        color: $dark-navy;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $snow;
        width: 100%;
        padding: 2.25rem 2rem;

        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 2.125rem 3rem;
        }


        &__title{
            font-size: 1.125rem;
            letter-spacing: -0.8px;
            line-height: 24px;
        }

        &__location{
            font-size: 0.975rem;
            line-height: 25px;
        }

        & .button{
            margin-top: 1rem;

            &:hover{
                background-color: $snow;
            }

            @include tablet{
                margin: 0;
            }
        }
    }
}